.home-container{
    width: 100%;
    height: 800px;
    background-image: url('../../assets/images/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    color: var(--neutral-white);
    text-align: center;
}

.moto{
    margin: 0;
    padding-top: 225px;
    font-family: 'Fraunces';
    font-size: 56px;
    letter-spacing: 6px;
    margin-bottom: 60px;
}