.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-dark-mod-cyan);
    height: 300px;
    color: var(--primary-dark-cyan);
}

.footer-header{
    
}

.footer-nav-items{
    list-style: none;
    display: flex;
    gap: 40px;
}

.footer-nav-item:hover{
    color: var(--neutral-white);
    cursor: pointer;
}

.footer-socials{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 24px;
}

.footer-social:hover{
    color: var(--neutral-white);
    cursor: pointer;
}