.testimonials-container{
    height: 800px;
    background-color: var(--neutral-white);
    text-align: center;
}

.testimonial-header{
    margin: 0;
    font-family: 'Fraunces';
    color: var(--neutral-gray-blue);
    letter-spacing: 4px;
    margin-bottom: 100px;
    padding-top: 100px;
}

.testimonials-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 500px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.testimonial-img{
    height: 75px;
    width: 75px;
    border-radius: 100%;
    margin-bottom: 40px;
}

.testimonial-descr{
    margin-bottom: 60px;
    font-family: 'Barlow';
    height: 125px;
    color: var(--neutral-very-dark-gray-blue);
}

.testimonial-name{
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Fraunces';
    font-weight: 900;
    color: var(--neutral-very-dark-blue);
}

.testimonial-title{
    margin: 0;
    font-family: 'Barlow';
    font-weight: 600;
    color: var(--neutral-gray-blue);
}


@media screen and (max-width: 1024px) {

    .testimonial-descr{
        font-size: 16px;
    }

    .testimonial-name{
        font-size: 18px;
    }
  }


@media screen and (max-width: 768px) {

    .testimonial-descr{
        font-size: 14px;
    }

  }


@media screen and (max-width: 414px) {
    
    .testimonials-container{
        height: 1200px;
        display: flex;
        flex-direction: column;
        gap: 200px;
    }

    .testimonials-row{
        flex-direction: column;

    }

    .testimonial{
        width: 90%;
    }

    .testimonial-img{
        margin-bottom: 20px;
    }

    .testimonial-descr{
        margin-bottom: 0px;
        height: 80px;
    }

}