.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    color: var(--neutral-white);
    align-items: center;
    font-family: 'Barlow';
    position: fixed;
    background-color: #3ebfff;
}

.nav-header{
    margin: 0;
    margin-left: 40px;
}

.nav-items-desktop{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding-left: 0;
}

.nav-item{
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover{
    cursor: pointer;
    background-color: var(--neutral-white);
    border-radius: 24px;
    text-transform: uppercase;
    background: hsl(0, 0%, 100%, 0.3);
    font-family: 'Fraunces';
}

.nav-selected{
    background-color: var(--neutral-white);
    color: var(--neutral-very-dark-blue);
    border-radius: 24px;
    text-transform: uppercase;
    font-family: 'Fraunces';
}

.arrow:hover{
    cursor: pointer;
    opacity: 50%;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger{
        display: inline;
        margin-left: auto;
        margin-right: 50px;
    }

    .nav-items-desktop{
        display: none;
        color: var(--neutral-dark-gray-blue);
    }

    .nav-items-mobile{
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 100px;
        right: 0px;
        width: 300px;
        height: 300px;
        background-color: var(--neutral-white);
        gap: 10px;
    }
    
    .nav-item:hover{
        background-color: var(--primary-yellow);
        color: var(--neutral-very-dark-blue);
        border-radius: 24px;
        text-transform: uppercase;
        font-family: 'Fraunces';
    }
    
    .nav-selected{
        background-color: var(--primary-yellow);
        color: var(--neutral-very-dark-blue);
        border-radius: 24px;
        text-transform: uppercase;
        font-family: 'Fraunces';
    }

    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 30px solid var(--neutral-white);
        border-left: 30px solid transparent;
        right: 50px;
        top: 90px
          
    }
}